<h2>Welcome to your neat-book!</h2><hr>

<h3>Let's get started...</h3>
<p>
    <%= link_to "Signup", signup_path %> &nbsp;
    <strong><small>OR</small></strong> &nbsp;
    <%= link_to "Login", login_path %>
</p>
